<div class="instagram_container">
  <div class="container">
    <div class="instagram-tittles">
      <h2 class="section__tittle instagram-tittles__tittle">
        - Latest Instagram Shots
      </h2>
      <a class="instagram-tittles__link" href="#">go to our instagram page -</a>
    </div>
    <div class="instagram-photos">
      <div class="instagram-photos__first">
        <img src="../img/post-1.png" alt="" />
      </div>
      <div class="instagram-photos__second">
        <img src="../img/post-2.png" alt="" />
      </div>
      <div class="instagram-photos__third">
        <img src=" ../img/post-3.png" alt="" />
      </div>
      <div class="instagram-photos__fourth">
        <img src=" ../img/post-4.png" alt="" />
      </div>
    </div>
  </div>
</div>
