<div class="container">
  <h2 class="section_tittle">- our Recent posts</h2>
  <div class="recent-content">
    <div class="recent-card">
      <div class="recent-card__img">
        <img src="../img/post-img.png" alt="" />
      </div>
      <div class="recent-card__description">
        <p class="recent-card__description__tittle">
          Aenean Adipiscing Etiam Vestibulum
        </p>
        <p class="recent-card__description__comments">
          Photography, Journal / 9 Comments
        </p>
        <p class="recent-card__description__text">
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>

    <div class="recent-card">
      <div class="recent-card__img">
        <img src="../img/post4img.png" alt="" />
      </div>
      <div class="recent-card__description">
        <p class="recent-card__description__tittle">
          Aenean Adipiscing Etiam Vestibulum
        </p>
        <p class="recent-card__description__comments">
          Photography, Journal / 9 Comments
        </p>
        <p class="recent-card__description__text">
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>

    <div class="recent-card">
      <div class="recent-card__img">
        <img src="../img/post6img.png" alt="" />
      </div>
      <div class="recent-card__description">
        <p class="recent-card__description__tittle">
          Aenean Adipiscing Etiam Vestibulum
        </p>
        <p class="recent-card__description__comments">
          Photography, Journal / 9 Comments
        </p>
        <p class="recent-card__description__text">
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>

    <div class="recent-card">
      <div class="recent-card__img">
        <img src="../img/post1img.png" alt="" />
      </div>
      <div class="recent-card__description">
        <p class="recent-card__description__tittle">
          Aenean Adipiscing Etiam Vestibulum
        </p>
        <p class="recent-card__description__comments">
          Photography, Journal / 9 Comments
        </p>
        <p class="recent-card__description__text">
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
          ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
  </div>
</div>
