.section_tittle {
  color: $color-grey-dark;
  line-height: 2.2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 2.2rem;

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
}

.recent-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  row-gap: 3.2rem;
  column-gap: 5.5rem;
  margin-bottom: 7rem;

  @media only screen and (max-width: 975px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.recent-card {
  display: flex;
  justify-content: space-between;
  @media (max-width: 975px) {
    justify-content: start;
    gap: 2rem;
  }

  @media (max-width: 767px) {
    display: grid;
    row-gap: 1rem;
  }

  &__img {
    max-width: 100%;
  }

  &__description {
    margin-left: 2rem;

    @media (max-width: 975px) {
      margin-left: 0rem;
    }

    &__tittle {
      color: $color-grey-dark;
      font-weight: 700;
      line-height: 3rem;
      font-size: 1.6rem;
    }

    &__comments {
      color: $color-grey-light;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;
    }

    &__text {
      color: $color-grey-middle;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.6rem;

      @media (max-width: 975px) {
        width: 40rem;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}
