*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px
}

body {
  font-family: $font-primary;
  box-sizing: border-box;
  font-size: 1.4rem;
  min-width: 320px;
}

ul {
  list-style: none;
}

.container {
  max-width: 117rem;
  margin: 0 auto;

  @media (max-width: 1200px) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

a {
  text-decoration: none;
}
