// colors
$color-white: #fefefe;
$color-white-ligth: #b9b9b9;
$color-black: #000;
$color-grey-light: #7c7c7c;
$color-grey-middle: #5c5c5c;
$color-grey-dark: #4e4e4e;
$color-accent: #57a4a4;
$background: rgb(4, 4, 4, 0.03);

// fonts
$font-primary: "Roboto", sans-serif;
