.footer-container {
  background-color: $color-black;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__tittle {
    text-align: center;
    color: $color-white;
    margin-top: 6rem;
    @media (max-width: 768px) {
      font-size: 1.4rem;
      line-height: 2.2rem;
      text-transform: uppercase;
    }
  }

  &__text {
    width: 68rem;
    color: $color-white-ligth;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: 2.2rem;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 1.2rem;
      font-style: normal;
      line-height: 2rem;
      width: 30rem;
      margin-top: 0.8rem;
    }
  }

  &__icons {
    margin-top: 3.7rem;
    display: flex;
    gap: 0.5rem;
  }

  &__contacts {
    margin-top: 3.4rem;
    margin-bottom: 7rem;
    &__text {
      color: $color-white-ligth;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.6rem;
      @media (max-width: 768px) {
        font-size: 1.4rem;
        line-height: 2.4rem;
        width: 21rem;
        text-align: center;
      }
    }
  }
}
